<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lung_Cancer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>444B7B031F1511CC006F0626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444B7B171F1511CD006F0626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>444B7B221F1511CD006F0626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
